In [10]:
import glob
import os
import pandas as pd
import plotly.plotly as py

In [11]:
# Look at match odds markets for this week and sort by shortest odds

match_odds_csv = glob.glob('../../data/odds-data/*winner.csv')

In [15]:
print(match_odds_csv[0])

../../data/odds-data\Arsenal_Man_City_winner.csv

In [13]:
df = pd.read_csv(match_odds_csv[0])

In [14]:
df.head()

,Selection,Bet 365,Sky Bet,Ladbrokes,William Hill,Marathon Bet,Betfair Sportsbook,Paddy Power,Unibet,Coral,...,188Bet,888sport,Bet Victor,Sportpesa,Spreadex,Royal Panda,Betfair,Betdaq,Matchbook,Smarkets
0,Man City,2.0,2.0,2.0,1.95,2.06,2.05,1.91,2.0,2.0,...,2.04,2.0,2.1,2.05,2.00,2.02,2.01,2.04,2.03,2.04
1,Arsenal,3.5,3.4,3.4,3.50,3.62,3.40,3.30,3.6,3.4,...,3.50,3.6,3.5,3.60,3.50,3.45,3.66,3.60,3.56,3.74
2,Draw,3.6,3.8,3.7,3.80,3.94,3.80,3.60,3.8,3.6,...,3.75,3.8,3.8,3.70,3.75,3.61,3.76,3.84,3.81,3.84